:root {
  --clr-primary-100: hsl(263, 55%, 52%);
  --clr-primary-300: hsl(217, 19%, 35%);
  --clr-primary-500: hsl(219, 29%, 14%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-300: hsl(0, 0%, 81%);
  --clr-neutral-500: hsl(210, 46%, 95%);

  --ff-100: "Barlow Semi Condensed", sans-serif;

  --fw-regular: 500;
  --fw-bold: 600;

  --fs-small: 0.6875rem;
  --fs-regular: 0.8125rem;
  --fs-large: 1.25rem;

  --fluid-24-30: clamp(1.5rem, 1.3696rem + 0.6522cqi, 1.875rem);
  --fluid-24-80: clamp(1.5rem, 0.2826rem + 6.087vi, 5rem);
}

/* josh comeau reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
html,
body {
  height: 100%;
}

/* general style */

body {
  font-family: var(--ff-100);
  font-size: var(--fs-regular);
  font-weight: var(--fw-regular);
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-500);
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.container {
  max-width: 1110px;
  display: grid;
  gap: var(--fluid-24-30);
}
@media (min-width: 1050px) {
    .container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            "first      first       second      fifth"
            "third      fourth      fourth      fifth";
        article:nth-child(1) {
            grid-area: first;
        }
        article:nth-child(2) {
            grid-area: second;
        }
        article:nth-child(3) {
            grid-area: third;
        }
        article:nth-child(4) {
            grid-area: fourth;
        }
        article:nth-child(5) {
            grid-area: fifth;
        }
    }
}
.testimonial {
  border-radius: 0.5rem;
  padding: 2rem;
}
.customer {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.customer > img {
    border-radius: 2rem;
    width: 1.75rem;
}
.customer__status {
    font-size: var(--fs-small);
    font-weight: var(--fw-regular);
}
.testimonial__highlight {
    line-height: 1.3;
    font-size: var(--fs-large);
}
.testimonial__body {
    color: var(--clr-neutral-300);
}
.intro {
  position: relative;
}
.intro > h2{
  position: relative;
  z-index: 10;
}
.intro::before {
  content: "";
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  right: var(--fluid-24-80);
  background-image: url(images/bg-pattern-quotation.svg);
  z-index: 10;
}
.testimonial.style1 {
    background-color: var(--clr-primary-100);
}
.testimonial.style2 {
    background-color: var(--clr-primary-300);
}
.testimonial.style3 {
    background-color: var(--clr-primary-500);
}
.testimonial.style4,
.testimonial.style4 > p {
    color: var(--clr-primary-300);
    background-color: var(--clr-neutral-100);
}


/* utilities */
.flow > * + * {
    margin-top: 1rem;
}
